.idea
target
*.iml
\iit8077.java
\testedo.java
\bd\logopass
*\test\*
/.allure/
/src/main/java/EDOSF/SettingsEDOSF/Settings.java
/src/main/java/EDOSF/SettingsEDOSF/Drivers.java
/src/main/java/EDOSF/SettingsEDOSF/SavedHelp/Examples.txt
/src/main/java/EDOSF/SettingsEDOSF/SavedHelp/Description
