.idea
target
*.iml
\iit8077.java
\testedo.java
\bd\logopass
*\test\*
/.allure/
/src/main/java/edosf/settingsEdo/Settings.java
/src/main/java/edosf/settingsEdo/Drivers.java
/src/main/java/edosf/settingsEdo/savedHelp/Examples.txt
/src/main/java/edosf/settingsEdo/savedHelp/Description